<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - otokurtarma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/otokurtarma.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>

<body class="bg-warning bg-gradient" id="body">
    <div class="cursor position-fixed"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary bg-gradient border-bottom box-shadow mb-3"
            id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index"><img style="width: 4rem;" src="../favicon.ico"
                        alt="logo"></a>
                @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Home")
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav">
                            <li class="m-3 nav-item text-center"><a class="btn btn-secondary nav-link text-white"
                                    asp-action="Islemler">İŞLEMLER</a></li>
                            <li class="m-3 nav-item text-center"><a class="btn btn-secondary nav-link text-white"
                                    asp-action="Raporlar">RAPORLAR</a></li>
                            <li class="m-3 nav-item text-center"><a class="btn btn-secondary nav-link text-white"
                                    asp-action="Tanimlar">TANIMLAR</a></li>
                            <li class="m-3 nav-item text-center"><a class="btn btn-secondary nav-link text-white"
                                    asp-action="Ayarlar">Ayarlar</a></li>
                            <li class="m-3 nav-item text-center">
                                <form asp-action="Signout" method="post">
                                    <button type="submit" class="btn btn-secondary nav-link text-white w-100">Çıkış Yap <i
                                            class="fa-solid fa-right-from-bracket"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container my-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Home")
        {
            <partial name="_CookieConsentPartial" />
        }
    </div>

    <footer class="footer">
        <button type="button" class="btn btn-dark" id="dark-light">
            <i class="fa-solid fa-moon fa-2xl" id="themeicon"></i></button>
        <div id="footer"
            class="container-fluid d-flex justify-content-center flex-wrap border-top bg-info bg-gradient text">
            <div>&copy; 2025</div>
            <div>&nbsp;otokurtarma&nbsp;</div>
            <div><a href="https://www.linkedin.com/in/mehmet-serhat-aslan-58272b28a/">Mehmet
                    Serhat ASLAN</a></div>
            <button type="button" class="btn btn-primary m-2" style="height: fit-content;" data-bs-toggle="modal"
                data-bs-target="#info">
                <i class="fa fa-info"></i>
            </button>

            <div id="info" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Oto Kurtarma Takip Sistemi</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <img src="../favicon.ico" class="rounded mx-auto d-block w-25" alt="logo">
                            <p class="text-center">
                                Copyright &copy; 2025 Mehmet Serhat ASLAN <br>
                                Web: <a href="https://benserhat.live/">benserhat.live</a> <br>
                                E-Posta: <a href="mailto:mserhataslan@hotmail.com">mserhataslan@hotmail.com</a> <br>
                                <a href="mailto:mehmetserhataslan955@gmail.com">mehmetserhataslan955@gmail.com</a> <br>
                                Mehmet Serhat ASLAN
                            </p>
                        </div>
                        <div class="modal-footer">
                            <h4>Sürüm: 1.0.0</h4>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function getCookie(name) {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const c = cookies[i].trim();
                if (c.startsWith(name + '=')) {
                    return c.substring(name.length + 1);
                }
            }
            return null;
        }

        window.onload = () => {
            if (getCookie(".Site.isDark") == "yes") {
                document.getElementById("themeicon").className = "fa-regular fa-sun fa-2xl";
                document.getElementById("dark-light").className = "btn btn-primary";

                document.getElementById("nav").className =
                    "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3";
                document.getElementById("body").className = "bg-secondary";
                document.getElementById("footer").className =
                    "container-fluid d-flex justify-content-center flex-wrap border-top bg-dark text-light";
            } else {
                document.getElementById("themeicon").className = "fa-solid fa-moon fa-2xl";
                document.getElementById("dark-light").className = "btn btn-dark";

                document.getElementById("nav").className =
                    "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary bg-gradient border-bottom box-shadow mb-3";
                document.getElementById("body").className = "bg-warning bg-gradient";
                document.getElementById("footer").className =
                    "container-fluid d-flex justify-content-center flex-wrap border-top bg-info bg-gradient text";
            }
        }


        $("#dark-light").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/Home/Darklight",
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function () {
                    console.log(getCookie(".Site.isDark"));
                    if (getCookie(".Site.isDark") == "yes") {
                        $("#themeicon").attr("class", "fa-regular fa-sun fa-2xl");
                        $("#dark-light").attr("class", "btn btn-primary");

                        $("#nav").attr("class", "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3");
                        $("#body").attr("class", "bg-secondary");
                        $("#footer").attr("class", "container-fluid d-flex justify-content-center flex-wrap border-top bg-dark text-light");
                    } else {
                        $("#themeicon").attr("class", "fa-solid fa-moon fa-2xl");
                        $("#dark-light").attr("class", "btn btn-dark");

                        $("#nav").attr("class", "navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary bg-gradient border-bottom box-shadow mb-3");
                        $("#body").attr("class", "bg-warning bg-gradient");
                        $("#footer").attr("class", "container-fluid d-flex justify-content-center flex-wrap border-top bg-info bg-gradient text");
                    }
                }
            });
        });

    </script>
</body>

</html>
