<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - otokurtarma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/otokurtarma.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <script src="~/lib/dist/jquery.min.js">
    </script>
</head>

<body class="bg-warning bg-gradient" id="body">
    <div class="cursor position-fixed"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary bg-gradient border-bottom box-shadow mb-3"
            id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index"><img style="width: 4rem;" src="../favicon.ico"
                        alt="logo"></a>
                @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Home")
                {
                    <div class="d-inline-flex justify-content-center w-50">
                        <div class="position-relative text-center" id="searchh">
                            <input type="search" id="search" placeholder="Ara..." aria-label="Ara..." class="form-control">
                            <div id="searchtable" class="position-absolute w-100 rounded bg-secondary text-white"
                                style="display: none;">
                                <div>
                                    <a class="text-decoration-none dropdown-item text-white" asp-controller="User"
                                        asp-action="Islemler">İŞLEMLER</a>
                                </div>
                                <div>
                                    <a class="text-decoration-none dropdown-item text-white" asp-controller="User"
                                        asp-action="Raporlar">RAPORLAR</a>
                                </div>
                                <div>
                                    <a class="text-decoration-none dropdown-item text-white" asp-controller="User"
                                        asp-action="SirketBilgileri">ŞİRKET BİLGİLERİ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-text nav-item text-center btn-group" id="dd">
                        @{
                            var filePath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot",
                            "profilePictures", User.Identity.Name + ".png");
                            var profilePicUrl = Url.Content("~/profilePictures/" + User.Identity.Name + ".png");
                        }

                        @if (System.IO.File.Exists(filePath))
                        {
                            <a id="ddbtn1" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
                                id="ddbtn"><img class="rounded" style="width: 4rem; height: 4rem;"
                                    src="@profilePicUrl?v=@DateTime.Now.Ticks" alt="Profil Resmi" /></a>
                        }
                        else
                        {
                            <a id="ddbtn2" data-bs-toggle="dropdown" data-bs-display="static"
                                class="btn btn-secondary nav-link text-white"><i class="fa fa-user"
                                    style="width: 2.46rem;"></i></a>
                        }

                        <div id="resdd" class="dropdown-menu my-3 bg-secondary">
                            <div class="text-center">
                                <a class="btn btn-secondary w-100 text-white" asp-action="Ayarlar">
                                    Hesap Ayarları
                                </a>
                            </div>
                            <div class="text-center">
                                <form asp-action="Signout" method="post">
                                    <button class="w-100 btn btn-secondary" type="submit">
                                        Çıkış Yap
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </nav>
        @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Home")
        {
            <div class="dropdown position-fixed">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Menü
                </button>
                <ul class="dropdown-menu bg-secondary text-white text-center" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item text-white" asp-action="Islemler">İŞLEMLER</a></li>
                    <li><a class="dropdown-item text-white" asp-action="Raporlar">RAPORLAR</a></li>
                    <li><a class="dropdown-item text-white" asp-action="SirketBilgileri">ŞİRKET BİLGİLERİ</a></li>
                </ul>
            </div>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3 px-5 mx-5">
            <div class="text-center" id="load">
                <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Home")
        {
            <partial name="_CookieConsentPartial" />
        }
        <button type="button" class="btn btn-dark" id="dark-light">
            <i class="fa-solid fa-moon fa-2xl" id="themeicon"></i></button>
        <div id="footer"
            class="container-fluid d-flex justify-content-center flex-wrap border-top bg-info bg-gradient text">
            <div>&copy; 2025</div>
            <div>&nbsp;otokurtarma&nbsp;</div>
            <div><a href="https://www.linkedin.com/in/mehmet-serhat-aslan-58272b28a/">Mehmet
                    Serhat ASLAN</a></div>
            <button type="button" class="btn btn-primary m-2" style="height: fit-content;" data-bs-toggle="modal"
                data-bs-target="#info">
                <i class="fa fa-info"></i>
            </button>

            <div id="info" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content text-dark">
                        <div class="modal-header">
                            <h3 class="modal-title">Oto Kurtarma Takip Sistemi</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <img src="../favicon.ico" class="rounded mx-auto d-block w-25" alt="logo">
                            <p class="text-center">
                                Copyright &copy; 2025 Mehmet Serhat ASLAN <br>
                                Web: <a href="https://benserhat.live/">benserhat.live</a> <br>
                                E-Posta: <a href="mailto:mserhataslan@hotmail.com">mserhataslan@hotmail.com</a> <br>
                                <a href="mailto:mehmetserhataslan955@gmail.com">mehmetserhataslan955@gmail.com</a> <br>
                                Mehmet Serhat ASLAN
                            </p>
                        </div>
                        <div class="modal-footer">
                            <h4>Sürüm: 1.0.0</h4>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>
    function updateDropdownDirection() {
        const dropdown = document.getElementById("resdd");

        const ddbtn1 = document.getElementById("ddbtn1");
        const ddbtn2 = document.getElementById("ddbtn2");

        if (ddbtn1 !== null) {
            if (window.innerWidth < 297) {
                dropdown.classList.remove("dropdown-menu-end");
                dropdown.classList.add("dropdown-menu-start");
            } else {
                dropdown.classList.remove("dropdown-menu-start");
                dropdown.classList.add("dropdown-menu-end");
            }
        }
        else
        {
            if (window.innerWidth < 289) {
                dropdown.classList.remove("dropdown-menu-end");
                dropdown.classList.add("dropdown-menu-start");
            } else {
                dropdown.classList.remove("dropdown-menu-start");
                dropdown.classList.add("dropdown-menu-end");
            }
        }
    }

    // Sayfa yüklendiğinde ve pencere boyutu değiştiğinde kontrol et
    window.addEventListener("DOMContentLoaded", updateDropdownDirection);
    window.addEventListener("resize", updateDropdownDirection);
</script>

</html>
