@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1><br>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">
        <form class="form" asp-action="Index" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Kullanıcı Adı">
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Şifre">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn btn-success form-control">Giriş <i class="fa fa-right-to-bracket"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="text-center"><br>
    <p>Oto kurtarma takip sistemi projemizin <a href="https://github.com/MetaMsa/Oto-kurtarma-takip-sistemi.git">kodları
            için tıklayın.</a></p>
</div>
