@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Oto kurtarma takip sistemi projemizin <a href="https://github.com/MetaMsa/Oto-kurtarma-takip-sistemi.git">kodları için tıklayın.</a></p>
</div>
